/**
 * セーブ・ロード関連のスタイルを定義する
 */

#gamewindow #actions{
    position: relative;
    top: 90px;
    left: 525px;
}
#gamewindow #actions button{
    width: 80px;
    height: 30px;
    margin: 0px 10px;
    font-size: 12pt;
}